@import 'antd/dist/reset.css';
@import './animation.css';
@import './tailwind.css';

*,
*::before,
*::after {
  border: 0 solid;
}

#app {
  margin: 0 auto;
}

[hidden] {
  display: none;
}

i {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

html,
body {
  @apply dark:bg-black dark:text-white bg-white text-black transition-colors duration-200;
}
