@import '~modern-normalize';
@import './vars.css';
@import './animation.css';
@import './tailwind.css';

body {
  font-size: 16px;
}

/* aviod fouc */
/* -------------------- pc -------------------- */
html[is-mobile='false'] {
  #app {
    min-width: 1300px;
    max-width: 1920px;
  }
}

/* ------------------ mobile ------------------ */
html[is-mobile='true'] {
  #app {
    min-width: 0px;
    max-width: 750px;
  }
}

#app {
  margin: 0 auto;
}

[hidden] {
  display: none;
}

i {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: inherit;
}
