.pcLayout {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    background: linear-gradient(90deg, #243442, #000);
    font-size: 14px;
    .headerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      margin: 0 auto;
      /* px-to-rem-ignore-next */
      width: 1300px;
      height: 90px;
    }

    .logo {
      display: inline-block;
      width: 116px;
      height: 41px;
      background-image: url(./images/logo.png);
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 110px;
    }

    .menus {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      .menu {
        padding: 15px 12px;
        margin: 0 5px;
        font-size: 14px;
        line-height: 1;
        color: #FFF;
        border-bottom: 2px solid transparent;
        text-align: center;
        text-decoration: none;

        &:hover {
          border-color: #FF9800;
        }
      }
    }
    .login_cont{
      font-size: 14px;
      color: #fff;
      
      .menu_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        .login{
          cursor:pointer;
          margin-right: 30px;
        }
        .download_btn{
          display: inline-block;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 130px;
          height: 38px;
          border:1px solid #FF9800;
          line-height:38px;
          border-radius:19px;
          &:hover{
            background-color:#FF9800;
          }
        }
      }

    }
  }

  .footer {}
}
