/* px-to-viewport-define */
.pcLayout {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 90PX;
    background: linear-gradient(90deg, #243442, #000);

    .headerContent {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: space-between;
      flex-wrap: nowrap;
      margin: 0 auto;
      width: 1300PX;
      height: 90PX;
    }

    .logo {
      display: inline-block;
      width: 116PX;
      height: 41PX;
      background-image: url(./images/logo.png);
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 110PX;
    }

    .menus {
      display: flex;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .menu {
        padding: 15px 12px;
        margin: 0 5px;
        font-size: 14px;
        line-height: 1;
        color: #FFF;
        border-bottom: 2px solid transparent;
        text-align: center;
        text-decoration: none;

        &:hover {
          border-color: #FF9800;
        }
      }
    }
  }

  .footer {}
}
