@import './Less/common.less';
.pcLayout {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    background: linear-gradient(90deg, #243442, #000);
    font-size: 14px;
    .headerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      margin: 0 auto;
      /* px-to-rem-ignore-next */
      width: 1300px;
      height: 90px;
    }

    .logo {
      display: inline-block;
      width: 116px;
      height: 41px;
      background-image: url(./images/logo.png);
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 110px;
    }

    .menus {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      .menu {
        padding: 15px 12px;
        margin: 0 5px;
        font-size: 14px;
        line-height: 1;
        color: #FFF;
        border-bottom: 2px solid transparent;
        text-align: center;
        text-decoration: none;

        &:hover {
          border-color: #FF9800;
        }
      }
    }
    .login_cont{
      font-size: 14px;
      color: #fff;
      
      .menu_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        .login{
          cursor:pointer;
          margin-right: 30px;
          &:hover{
            color: #FF9800;
          }
        }
        .download_btn{
          display: inline-block;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 130px;
          height: 38px;
          border:1px solid #FF9800;
          line-height:38px;
          border-radius:19px;
          &:hover{
            background-color:#FF9800;
          }
        }
      }

    }
    .login_modal{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.08);
      display: flex;
      .modal_container{
        position: relative;
        width: 440px;
        background: #31394c;
        border-radius: 5px;
        margin: 0 auto;
        padding: 102px 50px 60px 50px;
        box-sizing: border-box;
        box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.06);
        // padding-bottom: 40px; 
        input{
          width: 100%;
          height: 46px;
          outline: none;
          border: 1px solid #E5E5E5;
          border-radius: 3px;
          color: #202020;
          padding-left: 20px;
          font-size: 14px;
          box-sizing: border-box; 
          margin-bottom: 20px;
        }
        .sms_login{
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: 46px;
          margin-bottom: 20px;
          input{
            width: 200px;
            height: 46px;
            border: 1px solid #E5E5E5;
            border-radius: 3px;
            color: #202020;
            padding-left: 20px;
            font-size: 14px;
            box-sizing: border-box;
          }
          button{
            width: 120px;
            height: 46px;
            background: transparent;
            background: #4a5161;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 400;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }
        .close{
          position: absolute;
          top: 20px;
          right: 20px;
          width: 18px;
          height: 18px;
          background-size: 100%;
          content: '';
          cursor: pointer;
          .bg('./images/login_modal_close.png');
        }
        .check_type_wrapper{
          display: flex;
          width: 100%;
          justify-content: space-between;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          .login_type{
            color: #ff8900;
            cursor: pointer; 
          }
          .forget_pass{
            color: #acafb8; 
            text-decoration: underline;
          }
        }
        .modal_login_btn{
          width: 100%;
          height: 46px;
          background: #4a5161;
          border-radius: 5px;
          color: white;
          font-size: 16px;
          line-height: 46px;
          text-align: center;
          margin-bottom: 20px;
          margin-top: 40px;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .tip{
          width: 100%;
          height: 20px;
          display: flex;
          justify-content: center;
          color: #8389A1;
          font-size: 14px;
          line-height: 20px;
          padding: 10px 0px;
          .modal_reg{
            display: inline-block;
            color: #FC7400;
          }
        }
      }
      
    }
  }

  .footer {}
}
